@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', sans-serif;
    --font-playfair: 'Playfair Display', serif;
  }
  
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply bg-black text-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  
  a {
    -webkit-touch-callout: none;
  }
}
